In [6]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [7]:
data_list = [19, 76,66 ,95, 66, 7, 83, 4, 9, 10]

series_10 = pd.Series(data_list)

print(series_10)

0    19
1    76
2    66
3    95
4    66
5     7
6    83
7     4
8     9
9    10
dtype: int64

In [8]:
import pandas as pd

data = {
    'name': ['Alice', 'bob', 'claier'],
    'age': [25,30,27],
    'gender': ['female', 'male', 'female']
}

df = pd.DataFrame(data)
print(df)

     name  age  gender
0   Alice   25  female
1     bob   30    male
2  claier   27  female

In [10]:
'''DataFrame in Pandas: A DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. It 
can be thought of as a table, where each column contains data of a specific type (like integers, strings, floats, etc.). 
DataFrames are great for representing and manipulating structured data.'''
'''A Series in Pandas is a one-dimensional labeled array capable of holding data of any type (integer, string, float, Python 
objects, etc.). It is like a single column of data.'''
'''A DataFrame, on the other hand, is a 2-dimensional structure where each column can be a different data type, making it
suitable for more complex data representation and operations involving multiple columns.'''
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)

print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [12]:
'''Some common functions to manipulate data in a Pandas DataFrame include:

head() and tail(): To view the first or last few rows of the DataFrame.
info(): To get a concise summary of the DataFrame including data types and missing values.
describe(): Generates descriptive statistics of numerical columns.
loc[] and iloc[]: For selection by label or by integer position.
drop(): To remove rows or columns.
groupby(): To group data and perform operations on the grouped data.'''
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)

print(df.head())
print(df.describe())

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
        Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0

In [13]:
'''Mutable in nature: Series and DataFrame are mutable in Pandas. This means you can modify their values and add or remove rows
or columns after creation. Panels, which were 3-dimensional structures in earlier versions of Pandas, have been deprecated in
favor of MultiIndexing and are not actively used or maintained in recent versions.'''

'Mutable in nature: Series and DataFrame are mutable in Pandas. This means you can modify their values and add or remove rows\nor columns after creation. Panels, which were 3-dimensional structures in earlier versions of Pandas, have been deprecated in\nfavor of MultiIndexing and are not actively used or maintained in recent versions.'

In [14]:
import pandas as pd

name_series = pd.Series(['Alice', 'Bob', 'Charlie'])
age_series = pd.Series([25, 30, 35])
city_series = pd.Series(['New York', 'Los Angeles', 'Chicago'])

data = {
    'Name': name_series,
    'Age': age_series,
    'City': city_series
}
df = pd.DataFrame(data)

print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago